
@{
    ViewData["Title"] = "相處之道";
}

@section Styles{ 
    <link href="~/css/MeowEncyclopedia/Index.css" rel="stylesheet" />
}

<div class="encyclopedia-main-area" id="app">
    <div class="encyclopedia-right-img">
        <img src="~/images/橘色/貓太空人-橘色.PNG" />
    </div>
    <div class="encyclopedia-outer-area">
        <div class="encyclopedia-title-area">
            <p>喵星人相處之道</p>
        </div>
        <div class="encyclopedia-inner-area">
            <div class="encyclopedia-path-area">
                <div class="encyclopedia-path" v-on:click="changeCat(0)"><p>橘貓</p></div>
                <div class="encyclopedia-path" v-on:click="changeCat(1)"><p>黑貓</p></div>
                <div class="encyclopedia-path" v-on:click="changeCat(2)"><p>白貓</p></div>
                <div class="encyclopedia-path" v-on:click="changeCat(3)"><p>灰貓</p></div>
                <div class="encyclopedia-path" v-on:click="changeCat(4)"><p>黑白貓</p></div>
                <div class="encyclopedia-path" v-on:click="changeCat(5)"><p>三花貓</p></div>
                <div class="encyclopedia-path" v-on:click="changeCat(6)"><p>玳瑁貓</p></div>
                <div class="encyclopedia-path" v-on:click="changeCat(7)"><p>虎斑貓</p></div>
            </div>
            <div class="encyclopedia-artical-area">
                <div class="encyclopedia-cat" v-if="isVisiable===0">
                    <h3>橘貓</h3>
                    <p>
                        橘貓毛色討喜可愛，普遍給人一種友善、親人、愛撒嬌的夢幻印象，是許多貓奴的心頭好！
                        此外，米克斯橘貓亦有著好奇勇敢的性格，所以也讓他們顯得特別聰明活潑。
                        但有別於黑貓對食物的堅持，多數橘貓似乎對食物來者不拒，所以坊間一直有著「10隻橘貓9隻胖」的說法。
                    </p>
                    <h3>橘虎斑</h3>
                    <p>
                        活潑愛撒嬌、個性開朗外向；橘虎斑以公貓較多。整天悠哉悠哉的，有些懶散的感覺；
                        明明就對某事物感到很害怕，卻又愛逞強，甚至會故意接近，有點笨拙。膽小又呆呆的、感覺整天好像都在發愣。
                    </p>
                    <h3>白底橘虎斑</h3>
                    <p>
                        愛撒嬌但是很穩重，有點迷糊，犯過的錯馬上就會忘記；
                        白色部份較多的個性比較難搞，橘斑紋較多的個性較開朗；很聰明、感情豐富。
                    </p>
                </div>
                <div class="encyclopedia-cat" v-if="isVisiable===1">
                    <h3>黑貓</h3>
                    <p>
                        不管是對人或對貓個性都很友善；愛撒嬌、個性穩定、很聰明、貼心；情感豐富，以人類來說就是藝術家。
                        對食物有異常堅持，只吃喜歡的東西。

                        在台灣，老一輩的長者間流傳著黑貓不吉利的說法，又或者看似冷酷的外貌讓他們像是貓咪界的黑社會老大？
                        這些其實都是人們對黑貓的誤解啊！
                        米克斯黑貓非常愛撒嬌，情感豐富又貼心的他們相當親人又親貓，是黏人的貓咪代表。
                        他們多半聰明、學習力強、反應力快，從日常偶爾的小小惡作劇就能看出些特色。

                        值得注意的是，黑貓對食物有著自我的堅持與要求，他們只吃自己喜歡的東西，可以說是喵界的美食家呢！
                    </p>
                </div>
                <div class="encyclopedia-cat" v-if="isVisiable===2">
                    <h3>白貓</h3>
                    <p>
                        就像外型一般的優雅纖細、楚楚可憐；聰明、神經質。
                        有時會以撒嬌的方式表現對主人的獨佔慾，但是大多時候個性還是很酷的。
                        喜歡和人保持一定的距離、自我中心、很獨立。
                        全身雪白色的毛髮加上一雙大大的眼睛，十足的優雅姿態與貴族氣質，非常惹人疼愛。
                        白貓多半溫和友善且聰明乖巧，但性格上較為獨立自我又帶點傲氣，喜歡與人保持距離，
                        安靜地獨處於專屬他們的角落，但偶爾也會向飼主撒撒嬌，展現可愛的一面。
                    </p>
                </div>
                <div class="encyclopedia-cat" v-if="isVisiable===3">
                    <h3>灰貓</h3>
                    <p>
                        大部份都是善良又優雅的孩子，個性圓融；不像黑貓那麼強勢，卻也不像白貓那麼嬌弱；
                        有時很頑固、不擅於直接表達愛意。
                        好像會躲在角落的陰影裡偷偷看著你，彷彿在說：我在這裡唷～你有沒有看到我呢～
                    </p>
                </div>
                <div class="encyclopedia-cat" v-if="isVisiable===4">
                    <h3>黑白貓</h3>
                    <p>
                        個性親人、溫和；靜不下來、沒辦法讓人靜靜地抱著，總是跳上跳下的；
                        警戒心很強，不輕易冒險；愛撒嬌、外向活潑、個性開朗、好相處。
                        賓士貓的頭頂眼睛周圍的毛髮為黑色，鼻子嘴巴部分則為白色，
                        乍看之下就像賓士標誌的圖形一樣，賓士貓一稱便由此而來。
                        令人意想不到的是，米克斯賓士貓竟有著「貓界二哈」的稱號，
                        牠的行為總讓人摸不著頭緒，有著出人意料的神邏輯！
                        他們聰明活潑、鬼靈精怪，彷彿有消耗不完的電力，調皮搗蛋、翻箱倒櫃是他們的日常；
                        然而，賓士貓卻又相當喜歡與人互動，非常懂得如何利用撒嬌讓飼主消氣，實在讓人感到好氣又好笑！
                    </p>
                </div>
                <div class="encyclopedia-cat" v-if="isVisiable===5">
                    <h3>三花貓</h3>
                    <p>
                        有時愛撒嬌、有時兇巴巴，個性很難捉摸；
                        運動神經很好、有點公主病；聰明、很靈活、是個冒險家；
                        不怕人，會主動親近；是個愛吃鬼，不要以為有飼料就能滿足他們。

                        三花因為遺傳基因的關係，幾乎都是母貓，母性本能很強，自己的小孩會拼死保護，
                        但是別人的小孩卻可以視若無睹；任性、觀察力很強。
                        由於決定貓咪毛色的基因位於決定性別的染色體上，而3種毛色的基因組合絕大多數都是母貓；

                        據統計，三花公貓的出現機率僅有0.003％，也因此，日本人將其視為幸運的象徵，
                        像是最原始的招財貓便是以三花的樣貌呈現。
                        談起三花的性格，10個飼主會有9種說法，充分顯示他們時而溫順、時而兇悍的多變性格；
                        然而，觀察力極強且慢熱的三花在真正向你敞開心房時，卻能瞬間轉變成溫柔又愛撒嬌的小女人，
                        這樣的反差萌也確實收服了許多貓奴的心。
                    </p>

                    <h3>三花虎斑貓</h3>

                    <p>和三花一樣幾乎都是女生，但比三花的個性更穩重；一生起氣來很強悍，是很會哺育小孩的好媽媽。</p>
                </div>
                <div class="encyclopedia-cat" v-if="isVisiable===6">
                    <h3>玳瑁貓</h3>
                    <p>
                        個性善良、穩重；也幾乎都是女生，以女生來說算是比較溫和圓融的；
                        平時雖然不太會表達情感，一旦吃起醋來也是很可怕的！

                        玳瑁貓命名的由來，是由於他們多樣顏色混雜出的毛髮，
                        與一種名為「玳瑁」的海龜顏色相近，但也是這獨特的毛色使他們的領養率偏低，
                        殊不知，玳瑁可是米克斯界的極品好貓呢！

                        與三花相同，99％的玳瑁多為母貓；不同的是，脾氣極佳、乖巧溫和、合群善良是玳瑁飼主公認的優點，
                        軟萌叫聲加上撒嬌性格，時常翻肚討摸更讓他們擁有「路倒王」的可愛稱號。
                        別再以貌取貓啦！玳瑁說出所有貓奴的心聲：所有的貓都是好貓！
                    </p>
                </div>
                <div class="encyclopedia-cat" v-if="isVisiable===7">
                    <h3>虎斑貓</h3>
                    <p>
                        大多數的虎斑貓性格獨立、警戒性較強，甚至擁有霸道總裁的火爆脾氣，
                        完全沒有辜負其既帥氣又具野性美的外觀！
                        他們對不熟識的人較為防備，常處於高處或暗處觀察人們的一舉一動，這也造就了虎斑戀家的習性。
                        而體態健壯、擁有強大的運動神經是米克斯虎斑貓的常見特徵，小貓時期便相當調皮活潑並充滿好奇心，
                        加上善於狩獵的習性，在他們認定貓奴時，可能會冷不防地叼著「貓的報恩」回家喔！
                    </p>

                    <h3>白底虎斑</h3>
                    <p>
                        虎斑紋延伸到手腳的類型警戒心很強、很聰明、整體各方面都比其他貓咪來得出色；
                        如果是白色部份較多的虎斑個性較單純、開朗；女生的話是連別人的小孩也會照顧的好媽媽型。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="encyclopedia-left-img">
        <img src="~/images/橘色/貓星球-橘色.PNG" />
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data:{
                isVisiable: 0,
            },
            methods:{
                changeCat(n){
                    this.isVisiable = n;
                }
            }
        });
    </script>
}
