@section Styles{

    <link href="~/css/meowChat/chatbox.css" rel="stylesheet" />

    @*引用bootstrap*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
}



<div id='chatApp'>
    <div class="chaticon" id="chaticon">
        <div class="notice" v-for="(item,index) in chatList" v-if="item.unRead != 0">
            <p class="notice-inside">!</p>
        </div>
        <button type="button" class="chaticonarea" onclick="location.href='@Url.Action("MessageManage", "MeowChat")'">
            <img class="chatpic" src="~/images/橘色/ChatIcon.PNG" />
        </button>
    </div>
</div>


@section Scripts{

    <script>
        var app = new Vue({
            el: '#chatApp',
            data: {
                sender: @User.Identity.Name,
                chatList: "",
            },
            created() {
                let $vue = this
                //傳入後端資料
                $.ajax({
                    type: "get",
                    data: { sender: "@User.Identity.Name" },
                    url: "@Url.Action("GetLastMessage", "MeowChat")/",
                }).done(function (response) {
                    $vue.loadSuccess = true;
                    $vue.chatList = response;
                }).fail(function () {
                    console.log("連線失敗");
                });
            },
        });
    </script>
}