@{
    ViewData["Title"] = "管理喵星人";

}
@model IEnumerable<CollectionListJoinCat>
@section Styles{
    @*引用bootstrap*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @*引用bootstrap icon*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    @*引用googlefont*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    @*引用fontawesome*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">


    <link href="~/css/CatCollect/CatCollect.css" rel="stylesheet" />
}

<!-- 導覽列 -->
<partial name="_menu">
    <div class="topline"></div>
    <div class=" container " id="CatCollect">
        <div class="col-lg-3 col-md-2 col-sm-0 col-xs-0 hidden-sm hidden-xs ">
            <!--選單列-->
            <div class="menu  ">
                <ul>
                    @*<li class="menu-list ">
                            <a asp-controller="CatPlanetInhabitants" asp-action="CatPlanetInhabitants">跑到貓咪篩選頁面</a>
                            <a asp-controller="Login" asp-action="Login">跑到登入</a>
                            <button v-on:click="ShowCollect" class="gobox">飛行前往!</button>
                            <i class="bi bi-caret-right-fill "></i>
                        </li>*@
                    <li class="menu-list ">
                        <a asp-controller="Membership" asp-action="Editor">資料修改</a>
                        <i class="bi bi-caret-right-fill "></i>
                    </li>
                    <li class="menu-list ">
                        <a href="# ">收藏居民</a>
                        <i class="bi bi-caret-right-fill "></i>
                    </li>
                    <li class="menu-list ">
                        <a href="# ">聊天訊息</a>
                        <i class="bi bi-caret-right-fill "></i>
                    </li>
                    <li class="menu-list ">
                        <a href="# ">行程管理</a>
                        <i class="bi bi-caret-right-fill "></i>
                    </li>
                    <li class="menu-list">
                        <a asp-controller="CatManagement" asp-action="ManageCat" style="color:#DA8952">收藏居民</a>
                        <i class="bi bi-caret-right-fill manage-meow"></i>
                    </li>
                </ul>
                <!-- <div class="bg-pic">
                    <img class="pic-planet" src="~/images/綠色/貓星球-綠色.PNG" />
                </div> -->
            </div>
        </div>
        <!--右邊區塊-->
        <div id="meow-manage-area" class="col-lg-9 col-md-10 col-sm-12 col-xs-12 ">
            <!--管理喵喵區塊-->
            <div class="meow-manage-title">★收藏居民</div>
            @*<form class="form-group">*@

            <div class="meow-manage-inside">
                <div v-for="n in catcollectlist" class="fakef2">
                    @*<div v-for="n in 16" class="fakef2">*@
                    <div v-if="n.isDeleted==0" class="alreadyDeliver">
                        <div class="group-top">
                            <div class="backimage">
                                <img src="~/images/三花7.jpg" class="meow-pic-inside">
                            </div>
                        </div>
                        <div class="pageline"></div>
                        <div class="group-inner">
                            <div class="meow-pic">
                                <div class="nametextsize0">
                                    {{n.name}}
                                </div>
                                <div class="agetextsize0">
                                    {{n.age}}
                                </div>
                                <div class="positiontextsize0">
                                    {{n.city}}{{n.country}}
                                </div>
                            </div>
                            <div class="cancelsize">
                                <img src="~/images/pageCatPlanetInhabitants/愛心(取消收藏).JPG" class="collectheart" />
                            </div>

                        </div>
                        <div class="transparentBack"></div>
                        <img src="~/images/收藏過期(去背換色).PNG" class="transparentImage" />
                        <div class="transparentText" v-on:click="CancelCollect(n)">刪除收藏</div>
                    </div>

                    <div v-if="n.isDeleted==1" class="meow-group">
                        <div class="group-top">
                            <div class="backimage">
                                <img src="~/images/三花7.jpg" class="meow-pic-inside">
                            </div>
                        </div>
                        <div class="pageline"></div>
                        <div class="group-inner">
                            <div class="meow-pic">
                                <div class="nametextsize1">
                                    {{n.name}}
                                </div>
                                <div class="agetextsize1">
                                    {{n.age}}
                                </div>
                                <div class="positiontextsize1">
                                    {{n.city}}{{n.country}}
                                </div>
                            </div>
                            <div class="cancelsize">
                                <img src="~/images/pageCatPlanetInhabitants/愛心(收藏).JPG" v-on:click="CancelCollect(n)" class="collectheart" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            @*</form>*@
        </div>


    </div>
    <div class="bottomline"></div>
    <script>
    var useVue = new Vue(
        {
            el: '#CatCollect',
            data: {
                pagecount: "1",
                catcollectlist: [],

                UserInfo: {
                "User_ID" : "@ViewData["UserID"]",
                },

                CollectData: {
                    "Cat_ID": "0",
                    "User_ID":"@ViewData["UserID"]",
                },
            },

            methods: {
                ShowCollect() {
                    //console.log(this.FilterData)
                    //console.log(useVue.RealName)
                    $.ajax(
                        {
                            type: 'POST',       //路由  後面是控制器
                            url: "@Url.Action("SearchCollect", "CatCollect")/",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                            },
                            data: this.UserInfo,
                            success: function (qryResult, status, xhr) {
                               console.log(qryResult);
                                useVue.catcollectlist = qryResult;
                                console.log(useVue.catcollectlist);
                            }
                        }
                    );
                },
                deletecheck() {
                    if (window.confirm("是否確定取消收藏?")) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                CancelCollect(a) {
                    if (this.deletecheck()) {
                            useVue.CollectData.Cat_ID = a.catId;
                            alert("確定刪除嗎?");
                             alert(useVue.CollectData.Cat_ID);

                             $.ajax(
                                {
                                    type: 'POST',       //路由  後面是控制器
                                    url: "@Url.Action("DeleteCollect", "CatPlanetInhabitants")/",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                    },
                                    data: this.CollectData,
                                    success: function (qryResult, status, xhr) {
                                        console.log(qryResult);
                                        useVue.test = qryResult;
                                        console.log(useVue.test);
                                        alert(qryResult);
                                     },
                                     error: function () {
                                         alert("連線失敗");
                                     }
                                }
                            );
                             a.isDeleted = 3;
                    }
                     else {
                        alert("取消收藏失敗");
                    }
                },
                closethisList(a) {
                    a.isDeleted = 3;
                },
            },
        })
    useVue.ShowCollect();
    </script>
