<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 征服喵星人</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="~/css/site.css" rel="stylesheet" /> 先註解導覽列css*@
    @* 引用Vue CDN *@
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    @* 引用jQuery CDN *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @*刪掉原本內建bootstrap的class <main role="main" class="pb-3">*@
    <main>
        @RenderBody()
    </main>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
