
@{
    ViewData["Title"] = "我要送養";
}
@section Styles{
    <link href="~/css/sender.css" rel="stylesheet" />
}
<div id="app">
    <div class="bgc">
        <div class="container container-bgc">
            <div class="row">
                <div class="col-lg-3 col-xl-3">
                    <!--會員專區選單列-->
                    <div class="menu">
                        <ul>
                            <li>
                                <a asp-controller="Membership" asp-action="Editor">資料修改</a>
                                <i class="bi bi-caret-right-fill "></i>
                            </li>
                            <li>
                                <a href="#">收藏居民</a>
                                <i class="bi bi-caret-right-fill "></i>
                            </li>
                            <li>
                                <a href="#">聊天訊息</a>
                                <i class="bi bi-caret-right-fill "></i>
                            </li>
                            <li>
                                <a href="#">行程管理</a>
                                <i class="bi bi-caret-right-fill "></i>
                            </li>
                            <li>
                                <a asp-controller="Membership" asp-action="Adopter">我要送養</a>
                                <i class="bi bi-caret-right-fill "></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-xl-9">
                    <!--會員資料修改-->
                    <div class="user-detail">
                        <div class="user-info">
                            <div class="area-title">★我要送養</div>
                            <div class="center">
                                <div class=" mainarea">
                                    <div class="paragraph">
                                        <p>
                                            星際宇航員你好！
                                        </p>
                                        <p>
                                            在你開始準備送養之前，<br />
                                            請先協助填寫相關資訊，<br />
                                            我們會為你開通送養人身份，<br />
                                            就可以讓更多人一起征服喵星人！
                                        </p>
                                    </div>
                                    <div class="img-area">
                                        <img src="~/images/橘色/貓太空人-橘色.PNG" />
                                    </div>
                                </div>
                                <div class="center-btn">
                                    <a asp-controller="Membership" asp-action="SenderConfirm">沒問題</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

