* {
    font-size: 14px;
}
html {
    background-color: #FEF2CB;
}
.cata-book-upper-area {
    border: 3px solid #cae4ba;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 5rem;
}
    .cata-book-upper-area ol{
       margin-left: 3rem;
    }
    .inner-pagaraph {
        margin: 2rem auto;
        width: 80%;
    }
.encyclopedia-main-area {
    color: #FEF2CB;
    position: relative;
    background-color: #FEF2CB;
}
.encyclopedia-outer-area {
    width: 65%;
    margin: auto;
    padding: 1rem;
}

.encyclopedia-title-area {
    background-color: #cae4ba;
    border-radius: 5px;
    margin-top: 2rem;
    width: 20%;
}
    .encyclopedia-title-area p {
        margin-left: 10px;
        padding: 5px;
        color: #fff;
        font-size: 16px;
    }

    .encyclopedia-path-area {
        width: 80%;
        margin: auto;
        padding: 1rem 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .encyclopedia-path-area div {
            width: 70px;
            padding: 5px;
            display: inline-block;
            border: 2px solid #cae4ba;
            background-color: #cae4ba;
            border-radius: 5px 5px 0 0;
        } 

.encyclopedia-path-area p {
    padding: 0px;
    margin: 0;
    text-align: center;
    color: #fff;
}

.encyclopedia-artical-area {
    border: 3px solid #cae4ba;
    background-color: #fff;
    border-radius: 30px;
    color: #65615E;
}
.encyclopedia-path {
    cursor: pointer;
}
.encyclopedia-cat {
    padding: 1rem;
    width: 80%;
    margin: auto;
}
    .encyclopedia-cat h3{
        font-size: 18px;
        font-weight: 600;
    }

    .encyclopedia-cat p {
        display: inline-block;
        padding: 7px;
    }

.encyclopedia-right-img img {
    position: fixed;
    right: 0;
    top: 140px;
    width: 150px;
}

.encyclopedia-left-img img {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 150px;
}
@media screen and (max-width: 800px){
    .encyclopedia-title-area {
        
        width: 100%;
    }
}