@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletestEnd1.css">
    }
<partial name="_menu" />
<div class="test">
    <div class="p1">
        <p class="t1">推薦你虎斑喵星人</p>
        <hr>
        <br>
        <p>
            個性很小心，警戒心較強，<br>
            因為毛色很接近貓咪的祖先，<br>
            比較活潑、愛鬧、狂野。<br>
            但意外地算是容易和人親近的類型，<br>
            一旦是牠接受的對象，就會翻肚呼嚕樣樣來。<br>
        </p>
        <img src="~/images/外星貓船(反).png" alt="">
    </div>



    <div class="p2">
        <p class="t2">★目前居住的虎斑喵星人</p>
    </div>

    <div class="pic">
        <div class="pic1">
            <img class="pic12" src="~/images/虎斑2.JPG">
            <br>
            <div class="test1">
                貓老大♂<br>
                3-8歲<br>
                已結紮<br>
                台北市北投區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>

        <div class="pic1">
            <img class="pic13" src="~/images/虎斑7.jpg" alt="">
            <br>
            <div class="test1">
                香菇♂<br>
                7-12月<br>
                已結紮<br>
                台北市北投區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>


    </div>
    <div class="btn1">
        <a class="btn" href="" style="color: white;border:1px solid white; border-radius: 8px;">看更多</a>
    </div>
</div>

