@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletestEnd6.css">
}
<div class="test">
    <div class="p1">
        <p class="t1">推薦你白貓喵星人</p>
        <hr>
        <br>
        <p>
            聰明、神經質。<br>
            有時會以撒嬌的方式表現對主人的獨佔慾，<br>
            喜歡和人保持一定的距離、自我中心、很獨立。<br>
            安靜地獨處於專屬他們的角落，<br>
            偶爾也會向飼主撒撒嬌，展現可愛的一面。<br>
        </p>
        <br />
        <img src="~/images/外星貓船(反).png" alt="">
    </div>



    <div class="p2">
        <p class="t2">★目前居住的白貓喵星人</p>
    </div>

    <div class="pic">
        <div class="pic1">
            <img class="pic12" src="~/images/白貓1.jpg">
            <br>
            <div class="test1">
                貘花豆♀<br>
                5-7月<br>
                已結紮<br>
                台北市木柵區
                <hr>
                <a asp-controller="CatDetail" asp-action="CatDetail" asp-route-catId="18">▸▹▸前往了解居民</a>
            </div>
        </div>

        <div class="pic1">
            <img class="pic13" src="~/images/白貓2.jpg" alt="">
            <br>
            <div class="test1">
                久燕八八♂<br>
                5-7月<br>
                已結紮<br>
                新北市信義區
                <hr>
                <a asp-controller="CatDetail" asp-action="CatDetail" asp-route-catId="33">▸▹▸前往了解居民</a>
            </div>
        </div>


    </div>
    <div class="btn1">
        <a class="btn" href="" style="color: white;border:1px solid white; border-radius: 8px;">看更多</a>
    </div>
</div>

