@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletestEnd8.css">
}
<partial name="_menu" />
<div class="test">
    <div class="p1">
        <p class="t1">推薦你黑貓喵星人</p>
        <hr>
        <br>
        <p>
            愛撒嬌、個性穩定、很聰明、貼心，<br>
            情感豐富，以人類來說就是藝術家，<br>
            多半聰明、學習力強、反應力快，<br>
            對食物有異常堅持，只吃喜歡的東西，<br>
            可以說是喵界的美食家呢!<br>
        </p>
        <img src="~/images/外星貓船(反).png" alt="">
    </div>



    <div class="p2">
        <p class="t2">★目前居住的黑貓喵星人</p>
    </div>

    <div class="pic">
        <div class="pic1">
            <img class="pic12" src="~/images/黑貓2.jpg">
            <br>
            <div class="test1">
                呱呱♀<br>
                3歲<br>
                已結紮<br>
                台北市中山區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>

        <div class="pic1">
            <img class="pic13" src="~/images/黑貓3.jpg" alt="">
            <br>
            <div class="test1">
                呱呱♀<br>
                3歲<br>
                已結紮<br>
                台北市中山區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>


    </div>
    <div class="btn1">
        <a class="btn" href="" style="color: white;border:1px solid white; border-radius: 8px;">看更多</a>
    </div>
</div>

