@section Styles{
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css' />
    <link rel="stylesheet" href="~/css/testpage/styletest1.css">
}
<partial name="_menu" />
<div class="test">
    <div class="p1">
        星際宇航員你好！
        <br>
        <br>
        歡迎加入喵星人的行列！
        <br>
        為了協助你能找到適合的喵星人，我們準備了一些小測驗，
        <br>
        希望能夠藉由這些題目，推測出你可能的喜好，
        <br>
        推薦給你一些適合的居民，能夠互相陪伴彼此
        <br>
        進行未來的各種冒險，展開你們的命運旅行！
        <br>
        <br>
        那我們開始囉！
        <br>
        <br>

        <a class="btn" asp-controller="Test" asp-action="Question1"><span>我準備好了~喵</span></a>
    </div>
</div>

<div class="p2">
    <div class="pic">
        <img src="~/images/白色/飛船貓貓.PNG" alt="">
    </div>
</div>