@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletestEnd2.css">
}
<partial name="_menu" />
<div class="test">
    <div class="p1">
        <p class="t1">推薦你三花喵星人</p>
        <hr>
        <br>
        <p>
            有時愛撒嬌、有時兇巴巴，個性很難捉摸<br>
            運動神經很好、有點公主病<br>
            聰明、很靈活、是個冒險家。<br>
            不怕人，會主動親近，<br>
            是個愛吃鬼，不要以為有飼料就能滿足他們。<br>
        </p>
        <img src="~/images/外星貓船(反).png" alt="">
    </div>



    <div class="p2">
        <p class="t2">★目前居住的三花喵星人</p>
    </div>

    <div class="pic">
        <div class="pic1">
            <img class="pic12" src="~/images/三花5.jpg">
            <br>
            <div class="test1">
                呱呱♀<br>
                3歲<br>
                已結紮<br>
                台北市中山區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>

        <div class="pic1">
            <img class="pic13" src="~/images/三花7.jpg" alt="">
            <br>
            <div class="test1">
                呱呱♀<br>
                3歲<br>
                已結紮<br>
                台北市中山區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>


    </div>
    <div class="btn1">
        <a class="btn" href="" style="color: white;border:1px solid white; border-radius: 8px;">看更多</a>
    </div>
</div>


