@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletestEnd4.css">
}
<div class="test">
    <div class="p1">
        <p class="t1">推薦你黑白喵星人</p>
        <hr>
        <br>
        <p>
            個性親人、溫和；靜不下來，<br>
            警戒心很強，不輕易冒險，<br>
            愛撒嬌、外向活潑、個性開朗、好相處。<br>
            非常懂得如何利用撒嬌讓飼主消氣，<br>
            實在讓人感到好氣又好笑！<br>
        </p>
        <br>
        <img src="~/images/外星貓船(反).png" alt="">
    </div>



    <div class="p2">
        <p class="t2">★目前居住的黑白喵星人</p>
    </div>

    <div class="pic">
        <div class="pic1">
            <img class="pic12" src="~/images/黑白貓5.jpg">
            <br>
            <div class="test1">
                黑輪♂<br>
                7-12月<br>
                已結紮<br>
                台北市北投區
                <hr>
                <a asp-controller="CatDetail" asp-action="CatDetail" asp-route-catId="6">▸▹▸前往了解居民</a>
            </div>
        </div>

        <div class="pic1">
            <img class="pic13" src="~/images/黑白貓7.jpg" alt="">
            <br>
            <div class="test1">
                貘豆♂<br>
                1-3歲<br>
                已結紮<br>
                台北市木柵區
                <hr>
                <a asp-controller="CatDetail" asp-action="CatDetail" asp-route-catId="17">▸▹▸前往了解居民</a>
            </div>
        </div>


    </div>
    <div class="btn1">
        <a class="btn" href="" style="color: white;border:1px solid white; border-radius: 8px;">看更多</a>
    </div>
</div>

