@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletest2.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css' />
}

<partial name="_menu" />
<div class="test">
    <div class="p1">
        想像你參加了一個社區舉辦的山中夏令營，<br>
        裡面規劃了一些山中的活動，<br>
        你在體驗獨木舟時，水流突然加快，<br>
        你順勢操作，來到了河的盡頭，<br>
        這時你認為會看到什麼？<br>
        <img src="~/images/白色/糖果星球.PNG" alt="">
    </div>




    <div class="p3">
        <form name="form1" action="/Test/Question3">
            <p>
                <input type="radio" id="u" name="W1" value="1" checked>
                <label for="u">A：一片寬闊無際的大海洋</label>
            </p>
            <p>
                <input type="radio" id="j" name="W1" value="3">
                <label for="j">B：陡峭高聳山壁峽谷的深谷小溪</label>
            </p>
            <p>
                <input type="radio" id="i" name="W1" value="5">
                <label for="i">C：即將往下墜的大瀑布</label>
            </p>
            <p>
                <input type="radio" id="e" name="W1" value="7">
                <label for="e">D：我閉著眼睛，根本看不到什麼</label>
            </p>
            <input type="submit" class="btn" value="下一題">
        </form>
        
    </div>

</div>






