@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletest2.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css' />
}

<partial name="_menu" />
<div class="test">
    <div class="p1">
        今天是伴侶的生日，你們一起去一家高級餐廳慶生，<br>
        本來這一餐你想要請他吃飯的。<br>
        <br>
        準備結帳時才發現，出門拿的信用卡拿成疫苗小卡！<br>
        但現金只夠付自己的餐點，你會……?
        <img src="~/images/白色/糖果星球.PNG" alt="">
    </div>




    <div class="p3">
        <form name="form1" action="/Test/Question2">
            <p>
                <input type="radio" id="u" name="Q1" value="1" checked>
                <label for="u">據實以告，再以任何形式(?)補給他</label>
            </p>
            <p>
                <input type="radio" id="j" name="Q1" value="3" >
                <label for="j">假裝本來就沒有要請他，生日了不起嗎哼哼</label>
            </p>
            <p>
                <input type="radio" id="i" name="Q1" value="5">
                <label for="i">偷偷去領錢，但要去很久你知道他會氣噗噗</label>
            </p>
            <p>
                <input type="radio" id="e" name="Q1" value="7">
                <label for="e">我裝不出來我有伴侶我就是單身狗(汪～～)</label>
            </p>
            <input type="submit" class="btn" value="下一題">
            
        </form>

    </div>

</div>


  




