@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletest2.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css' />
    }

<partial name="_menu" />
    <div class="test">
        <div class="p1">
            想像一下，你是貓群裡的貓老大，<br>
            突然有人拿食物要餵你們貓群，<br>
            <br>
            這時候你會對你們貓團隊說什麼?<br>
            <br>
            <br>
            <img src="~/images/白色/糖果星球.PNG" alt="">
        </div>




        <div class="p3">
            <form name="form1" action="/Test/Question4">
                <p>
                    <input type="radio" id="u" name="E1" value="1" checked>
                    <label for="u">好了~好了~ 大家排隊</label>
                </p>
                <p>
                    <input type="radio" id="j" name="E1" value="3">
                    <label for="j">肚子餓了，快點阿 我們早就想吃飯了</label>
                </p>
                <p>
                    <input type="radio" id="i" name="E1" value="5">
                    <label for="i">反正一定會餵我們，不著急</label>
                </p>
                <p>
                    <input type="radio" id="e" name="E1" value="7">
                    <label for="e">走開! 讓本貓先吃</label>
                </p>
                <input type="submit" class="btn" value="下一題">
            </form>
            
        </div>

    </div>




