@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletest3.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css' />
}

<partial name="_menu" />
<div class="test">
    <div class="p1">
        今天是跟好友一起在家追劇的好日子，<br>
        突然間你感到肚子有點餓，<br>
        <br>
        好友說要請你吃復胖打<br>
        這時候你的選擇是?<br>
        <img src="~/images/白色/糖果星球.PNG" alt="">
    </div>




    <div class="p3">
        <form name="form1" action="Question5">
            <p>
                <input type="radio" id="u" name="R1" value="1" checked>
                <label for="u">糕點、餅乾類</label>
            </p>
            <p>
                <input type="radio" id="j" name="R1" value="3">
                <label for="j">披薩，可樂</label>
            </p>
            <p>
                <input type="radio" id="i" name="R1" value="5">
                <label for="i">炸雞、漢堡、薯條</label>
            </p>
            <p>
                <input type="radio" id="e" name="R1" value="7">
                <label for="e">小朋友才選擇，我全都要!(握拳)</label>
            </p>

            <input type="submit" class="btn" value="測驗結束">
        </form>

    </div>

</div>





