@section Styles{
    <link rel="stylesheet" href="~/css/testpage/styletestEnd7.css">
}
<div class="test">
    <div class="p1">
        <p class="t1">推薦你灰貓喵星人</p>
        <hr>
        <br>
        <p>
            善良又優雅的孩子，個性圓融；<br>
            不像黑貓那麼強勢，卻也不像白貓那麼嬌弱<br>
            有時很頑固、不擅於直接表達愛意。<br>
            好像會躲在角落的陰影裡偷偷看著你<br>
            彷彿在說：我在這裡唷～你有沒有看到我呢～<br>
        </p>
        <img src="~/images/外星貓船(反).png" alt="">
    </div>



    <div class="p2">
        <p class="t2">★目前居住的灰貓喵星人</p>
    </div>

    <div class="pic">
        <div class="pic1">
            <img class="pic12" src="~/images/灰貓1.jpg">
            <br>
            <div class="test1">
                呱呱♀<br>
                3歲<br>
                已結紮<br>
                台北市中山區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>

        <div class="pic1">
            <img class="pic13" src="~/images/灰貓2.jpg" alt="">
            <br>
            <div class="test1">
                呱呱♀<br>
                3歲<br>
                已結紮<br>
                台北市中山區
                <hr>
                <a href="">▸▹▸前往了解居民</a>
            </div>
        </div>


    </div>
    <div class="btn1">
        <a class="btn" href="" style="color: white;border:1px solid white; border-radius: 8px;">看更多</a>
    </div>
</div>

